/* header */
.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    width: 95%;
}
.header .select_menu {
    color: #353333;
    display: flex;
    font-size: 19px;
    font-weight: 600;
    gap: 8px;
    line-height: 19.5px;
    position: relative;
    width: 600px;
}
.header .select_menu span{
    color: #15274d;
}
.header-second{
    position: relative;
}
/* .header-second::after{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    border-left: 40px solid red ;
} */


















.header .user{
    width: 195px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 26.26px;
}
.header .user img{
    width: 65px;
    height: 65px;
    border-radius: 100%;
}
.header .user .user-detail{
    display: flex;
    flex-direction: column;
    gap: 2.29px;
    height: 39.8px;
    width: 103px;
}
.header .user .user-detail .name{
    color: #333333;
    font-size: 17.51px;
    line-height: 17.51px;
    font-weight: 500;
    margin-bottom: 5px;
}
.header .user .user-detail .userId{
    font-size: 12.25px;
    line-height: 17.51px;
    font-weight: 400;
    color: #A0A7BA;
}