*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(21, 39, 77);
}
.mainContainer {
    background-color: #fff;
    padding: 20px 40px 0;
    width: 65%;
}
.borderRadius{
    box-shadow: 3px 1px 3px 0px #00000017;
}

/* sign in  */
.signInContainer{
    background-image: url("./resources/signIn.png");
    background-repeat: no-repeat;
    background-size: contain;
}
/* sign up  */
.signUpContainer{
    background-image: url("./resources/signUp.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.trapezoid {
	border-top: 50px solid white;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	height: 100px;
    outline: #D2D2D2;
	width: 125px;
    border-radius: 5px;
    position: relative;
}

.navBarContainer{
    background-color: #c2c4c6;
    padding-left: 3rem;
    height: 10vh;
}
.navBarContainer a{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.Container{
    /* margin: 20px 40px 0; */
    margin: 2rem;
    background-color: white;
    display: flex;
    align-items: flex-start;
    width: 100%;
    border-radius: 10px;
    justify-content: space-between;
}
.overviewSection{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 1rem;
    /* border: 1px solid grey; */
    width: 400px;
    height: auto;
    color: white;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    border-top-right-radius: 10px;
    /* border-radius: 10px; */
}
ul{
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: white;
    color: #15274d;
}
ul li{
    border-bottom: 1px solid grey;
    padding-left: 2rem;
}
/* - */
.hexagon {
    width: auto;
    height: 58px;
    background-color: #3498db;
    position: relative;
    margin: 29px 0;
  }
  
  .hexagon:before,
  .hexagon::after
  {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    /* border-left: 50px solid transparent; */
    border-right: 50px solid transparent;
  }
  
  .hexagon:before {
    top: -29px;
    border-bottom: 29px solid #3498db;
  }
  
  .hexagon:after {
    bottom: -29px;
    border-top: 29px solid #3498db;
  }